<h1>Pacientes</h1>

<p *ngIf="!patients"><em>Loading...</em></p>

<table class='table table-hover' *ngIf="patients">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data Nascimento</th>
      <th>Horário</th>
      <th>Data da consulta</th>
      <th>Observações</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients">
      <td>{{ patient.nome }}</td>
      <td>{{ patient.dataNascimento }}</td>
      <td>{{ patient.dataConsulta }}</td>
      <td>{{ patient.horaInicio }} às {{ patient.horaFim }}</td>
      <td>{{ patient.observacao }}</td>
      <td><button class="btn btn-danger" (click)="incrementCounter()"><i class="fa fa-icon">Desmarcar</i></button></td>
    </tr>
  </tbody>
</table>

<span><button class="btn btn-primary">Marcar consulta</button></span>